
       button {
           background-color: #FF4000;
           border: none;
           width: 100px;
           height: 30px;  
       }
div.button {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ffee05;
    border-radius: 2px;
    box-shadow: 0 5px 0 #736b02;
}

button:hover{
    background: #ffee05;
    box-shadow: 0 5px #736b02;
    cursor: pointer;
}

button:active {
    position: relative;
    top: 5px;
    box-shadow: none;

    
}